*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    overflow-y: auto;
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: repeat(3,5fr);
    grid-template-rows: 74px 1100px 40px;
    padding: 0rem 11rem 0rem 11rem;
}
#search{
    margin: 0rem 0rem 0rem 15rem;
}
.box{
    align-self: center;
    /* justify-content: center; */
    /* align-items: center; */
    justify-self: center;
}
.box1{
    margin: 13px 0px 0px 28px;
    color: gray;
}
.content{
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 0rem 0rem 0rem 2.5rem;
}
hr{
    width:94%;
}
#border1{
    height: 3.5rem;
    overflow: auto;
    width: 100%;
    border: 1px solid gray;
}
#border2{
    height: 1.5rem;
width: 100%;
border: 1px solid gray;
}
.about{
    margin:0px 0px 0px 66px;
    max-height: 11rem;
    /* overflow: auto; */
    width:80%;
    border: 1px solid;
    background-color: rgb(238, 238, 238);
}
.sidebar{ 
margin: auto;
width: 78%;
}
.button{
    padding: 0rem 0rem 0rem 2.5rem;
}
.btn{
    height: 40px;
    width: 100px;
    border: 1px solid black;
    border-radius: 20px;

}
.btn:hover{
    border: 1px solid  rgb(66, 192, 241);;
    color: rgb(66, 192, 241);
}